
<div class="p-4 <%= box_state %>">
<h2 class="font-lg bg-black text-white">Device Orientation Status - Radiative Heat Flux</h2>
  <div>
    <% if errors %>
      <ul>
      <% errors.each do |error| %>
        <li class="bg-white text-red-500"><%= error %></li>
      <% end %>
      </ul>
    <% end %>
    <details>
    <summary> Contributing Input Parameters </summary>
      <ul>
        <% scope.find_each do |device| %>
        <li> <%= device.char_id || "" %> - <%= device.orientation%>
        <% end %>
      </ul>
    </details>
  </div>
</div>
