<div>
  <h1 class="font-bold text-4xl">ModelLoader#new</h1>
  <p>Find me in app/views/model_loader/new.html.erb</p>

  <%= form_with url: model_loader_index_path do |form| %>
    <%= form.file_field :model %>
    <%= form.submit %>
  <% end %>

</div>
